.movie-list {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
}

.movie-list__list {
  height: 100%;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: 1px solid var(--color-highlight-dark);
  box-shadow: inset 3px 3px 6px 2px #0000001f;
  background-color: #00000011;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 1px 1px 5px 5px #33333322;
}
