.movie-list {
  /* overflow-x: auto; */
  margin: 1rem 0 4rem;
  padding: 1rem 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.movie-list__list {
  height: 100%;
  white-space: nowrap;
}

.movie-list__list > *:not(:last-child) {
  margin-right: 1rem;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: 1px solid var(--color-highlight-dark);
  box-shadow: inset 3px 3px 6px 2px #0000001f;
  background-color: #00000011;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-highlight-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 1px 1px 5px 5px #33333322;
}
