.container-centered {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.movie-details {
  padding: 4rem 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-details__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.movie-details__poster {
  display: flex;
  height: 50vh;
  justify-content: center;
  margin-bottom: 3rem;
}

.movie-details__image {
  height: 100%;
}

.movie-details__title {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.movie-details__tagline {
  font-size: 1.2rem;
  color: rgb(200, 200, 200);
  margin-bottom: 1.8rem;
}

.movie-details__info-row {
  display: flex;
  line-height: 1.5;
}

.movie-details__info-row:not(:last-child) {
  margin-bottom: 1rem;
}

.movie-details__label {
  margin-right: 2rem;
  flex-shrink: 0;
}

.movie-details__label,
.movie-details__detail {
  font-size: 1rem;
}

.movie-details__label {
  color: white;
}

.movie-details__detail {
  color: rgb(200, 200, 200);
}

.movie-details__star-rating {
  margin: 2rem 0;
}

.movie-details__description {
  color: white;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 300;
}

@media (min-width: 700px) {
  .movie-details__top {
    flex-direction: row;
  }

  .movie-details__poster {
    height: 30vh;
    justify-content: flex-start;
    margin-right: 2rem;
  }
}
